body {
  background-color: rgb(157, 160, 163);
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-style: italic;
  font-size: 900%;
  color: rgb(102, 187, 243);
  margin: 0;
}
h2 {
  margin-top: 0;
  font-style: italic;
  color: orange;
}

h3 {
  font-size: 26px;
  color: rgb(219, 143, 255);
}

#color {
  background-color: rgb(240, 240, 240);
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  left: -5%;
  height: 100%;
  width: 110%;
  z-index: -1;
}

footer {
  position: relative;
  bottom: 0;
}

b {
  font-size: 20px;
}
